.heading{
  color:red;
 
}
.center{
  text-align: center;
}

.box{
  border:1px solid lightgrey;
  width:400px;
  
  border-radius: 14px;
  margin: auto;
}
.img-box{
width:100%;
border-top-left-radius: 14px;
border-top-right-radius:14px ;
}
.box2{
  padding:15px;
}

.container{
  background-color: rgb(30, 30, 186);
  color:white;
  width:500px;
  padding: 100px;
  border-radius: 14px;
  text-align: center;
}

.btn{
 background-color: white;
 border-radius:18px;
 border: none;
 padding: 10px;
}
.container h1{
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container p{
  font-size: 14px;
}

.card{
  border:1px solid lightgray;
  width:400px;
  margin:100px auto;
  padding:20px;
  text-align: center;
}

input{
 width:100%;
 padding: 10px; 
 box-sizing: border-box;
 margin-bottom: 20px;
}

.btn-btn{
 background-color: black; 
 color:white;
 border: none;
 border-radius: 5px;
 width:100%;
 padding: 10px;
 
}